/* Animations */

@keyframes hover-buzz-out {
  10% {
    transform: translateX(3px) rotate(1deg);
  }

  20% {
    transform: translateX(-3px) rotate(-1deg);
  }

  30% {
    transform: translateX(3px) rotate(1deg);
  }

  40% {
    transform: translateX(-3px) rotate(-1deg);
  }

  50% {
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
  }

  100% {
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes pulse {
  0 {
    transform: scale(0.9);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}

@keyframes tossing {
  0% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(-8deg);
  }
}

@keyframes circle-anim {
  0 {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1;
  }

  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5;
  }

  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .1;
  }
}

@keyframes circle-fill-anim {
  0 {
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }

  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }
}

@keyframes bottles {
  0 {
    left: -100%;
  }

  100% {
    left: -10%;
  }
}

@keyframes bottles-tablet {
  0 {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@keyframes schnur {
  0 {
    right: 100%;
  }

  100% {
    right: -15%;
  }
}
