*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
}

html {
    display: none;

    @include mobile($mobile-width) {
        display: block;
        scroll-behavior: smooth;
    }

    &.fp-enabled {
        display: block;
    }
}

body {
    color: $color-dark-grey;
    line-height: 1.5;
}

a {
    transition: color $transition-duration;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    height: auto;
    max-width: 100%;
}

label {
    cursor: pointer;
    user-select: none;
}

textarea {
    resize: vertical;
}

ul {
    @include list-reset;
}

@include placeholder {
    text-overflow: ellipsis;
}

input[placeholder] {
    text-overflow: ellipsis;
    white-space: nowrap;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

::selection {
  color: $color-white;
  background: $color-blue;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe,
    object,
    embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $container-width;
}

.app {
    font-family: 'Proxima Nova', sans-serif;
    font-size: calc(16 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
        font-size: calc(16 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
        font-size: 1.6rem;
    }
}
