@mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin center($position) {
    position: absolute;

    @if $position == 'vertical' {
        top: 50%;
        transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
        left: 50%;
        transform: translate(-50%);
    }
    @else if $position == 'both' {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@mixin iblock($align: initial) {
    display: inline-block;
    vertical-align: $align;
}

@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin fontFace($family, $src, $style: normal, $weight: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.eot');
        src: url('#{$src}.eot?#iefix') format('embedded-opentype'),
             url('#{$src}.woff') format('woff'),
             url('#{$src}.ttf') format('truetype'),
             url('#{$src}.svg##{$family}') format('svg');

        font-style: $style;
        font-weight: $weight;
    }
}

@mixin tablet($tablet-width) {
    @media only screen and (max-width: $tablet-width) {
        @content;
    }
}

@mixin mobile($mobile-width) {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}
