h1,
.h1,
h2,
.h2 {
  color: $color-blue;
  font-family: 'MullerBold';
}

h1,
.h1 {
  font-size: calc(83 / #{$desktopHeight} * 100vh);
  line-height: 1;

  @include tablet($tablet-width) {
    font-size: calc(83 / #{$desktopTabletHeight} * 100vh);
  }
}

h2,
.h2 {
  font-size: calc(80 / #{$desktopHeight} * 100vh);
  letter-spacing: -0.04em;
  line-height: 1;

  @include tablet($tablet-width) {
    font-size: calc(60 / #{$desktopTabletHeight} * 100vh);
  }

  @include tablet($tablet-width) {
    font-size: 4rem;
  }
}
