.custom-radio {
  &:checked,
  &:not(:checked) {
    left: -9999px;
    position: absolute;
  }

  &__label {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    position: relative;
  }

  &__radio {
    background: linear-gradient(0deg, #f6f6f6, #f6f6f6), $color-white;
    border-radius: 100%;
    border: 1px solid #dfdfdf;
    flex-shrink: 0;
    height: calc(25 / #{$desktopHeight} * 100vh);
    margin-right: calc(20 / #{$desktopHeight} * 100vh);
    position: relative;
    width: calc(25 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      height: calc(25 / #{$desktopTabletHeight} * 100vh);
      margin-right: calc(20 / #{$desktopTabletHeight} * 100vh);
      width: calc(25 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &:checked {
    & + .custom-radio__label .custom-radio__radio:after {
      background: $color-red;
      border-radius: 100%;
      content: '';
      height: calc(12 / #{$desktopHeight} * 100vh);
      left: 50%;
      opacity: 1;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: all $transition-duration;
      width: calc(12 / #{$desktopHeight} * 100vh);

      @include tablet($tablet-width) {
        height: calc(12 / #{$desktopTabletHeight} * 100vh);
        width: calc(12 / #{$desktopTabletHeight} * 100vh);
      }

      @include mobile($mobile-width) {
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }

  &:not(:checked) {
    & + .custom-radio__label .custom-radio__radio:after {
      opacity: 0;
    }
  }
}

.btn {
  border-radius: 90px;
  border: 0;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
  color: $color-white;
  font-family: 'ProximaNovaBold';
  padding: calc(19 / #{$desktopHeight} * 100vh) calc(45 / #{$desktopHeight} * 100vh);
  transition: background $transition-duration, border $transition-duration, color $transition-duration;
  text-transform: uppercase;

  @include tablet($tablet-width) {
    padding: calc(19 / #{$desktopTabletHeight} * 100vh) calc(45 / #{$desktopTabletHeight} * 100vh);
  }

  @include mobile($mobile-width) {
    padding: 1.9rem 4.5rem;
  }

  &_default {
    background: $color-blue;

    &:hover {
      background: lighten($color-blue, 5%);
    }
  }

  &_gray {
    background: transparent;
    border: 1px solid #d9d9d9;
    color: #d9d9d9;

    &:hover {
      border-color: darken(#d9d9d9, 5%);
      color: darken(#d9d9d9, 5%);
    }
  }
}

/* Стили навигации fullpage.js */

#fp-nav {
  align-items: center;
  bottom: 0;
  color: lighten($color-blue, 30%);
  display: flex;
  font-family: 'ProximaNovaBold';
  font-size: calc(18 / #{$desktopHeight} * 100vh);
  margin-top: 0 !important;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 8vh;
  z-index: 98;

  @include tablet($tablet-width) {
    font-size: calc(18 / #{$desktopTabletHeight} * 100vh);
    width: 6vh;
  }

  li {
    // padding-top: calc(126 / #{$desktopHeight} * 100vh);
    margin-top: calc(126 / #{$desktopHeight} * 100vh);
    position: relative;
    user-select: none;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .active {
    & + .fp-tooltip {
      color: $color-blue;
      font-size: calc(22 / #{$desktopHeight} * 100vh);

      @include tablet($tablet-width) {
        font-size: calc(22 / #{$desktopTabletHeight} * 100vh);
      }

      &:after {
        background: $color-blue;
      }
    }
  }
}

.fp-tooltip {
  align-items: center;
  cursor: pointer;
  display: flex;
  transition: font-size $transition-duration;

  &:hover {
    color: $color-blue;

    &:after {
      background: $color-blue;
    }
  }

  &:after {
    background: lighten($color-blue, 30%);
    border-radius: 90px;
    content: '';
    display: inline-block;
    flex-shrink: 0;
    height: calc(3 / #{$desktopHeight} * 100vh);
    margin-left: 0.9rem;
    vertical-align: middle;
    width: calc(34 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      height: calc(3 / #{$desktopTabletHeight} * 100vh);
      width: calc(34 / #{$desktopTabletHeight} * 100vh);
    }
  }
}
