$container-width: 92%;
$transition-duration: 0.3s;


/* COLORS */

$color-black: #000;
$color-white: #fff;
$color-red: #cd0000;
$color-light-blue: #d7eff7;
$color-blue: #4672e6;
$color-dark-grey: #4f4f4f;

/* MEDIA QUERIES */

$desktop-md-width: 1280px;
$tablet-width: 1024px;
$mobile-width: 767px;

$desktopWidth: 1440;

$desktopHeight: 742;
$desktopTabletHeight: 1024;
