.fp-tableCell {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;

  @include tablet($tablet-width) {
    flex-direction: column;
  }
}

.nav-pad {
  padding-right: 9vh;

  @include tablet($tablet-width) {
    padding-right: 6vh;
  }

  @include mobile($mobile-width) {
    padding-right: unset;
  }
}

.app-section {
  font-size: calc(16 / #{$desktopHeight} * 100vh);
  overflow: hidden;

  @include tablet($tablet-width) {
    font-size: calc(16 / #{$desktopTabletHeight} * 100vh);
  }

  @include mobile($mobile-width) {
    font-size: 1.4rem;
  }

  &_intro {
    overflow: visible;

    @include tablet($mobile-width) {
      display: flex;
      flex-direction: column-reverse;
    }

    .fp-tableCell {
      @include tablet($tablet-width) {
        flex-direction: column-reverse;
      }
    }
  }

  &__next-slide {
    align-items: center;
    color: $color-blue;
    display: inline-flex;
    font-family: 'ProximaNovaBold';
    letter-spacing: 0.06em;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: lighten($color-blue, 10%);

      &:after {
        background-color: lighten($color-blue, 10%);
        transform: rotate(360deg);
      }
    }

    &:after {
      background: $color-blue url('../svg_icons/next-slide.svg') no-repeat 50% / 54%;
      border-radius: 50%;
      content: '';
      display: inline-block;
      flex-shrink: 0;
      height: calc(22 / #{$desktopHeight} * 100vh);
      margin-left: calc(10 / #{$desktopHeight} * 100vh);
      transition: background $transition-duration, transform $transition-duration;;
      width: calc(22 / #{$desktopHeight} * 100vh);

      @include tablet($tablet-width) {
        height: calc(22 / #{$desktopTabletHeight} * 100vh);
        margin-left: calc(10 / #{$desktopTabletHeight} * 100vh);
        width: calc(22 / #{$desktopTabletHeight} * 100vh);
      }

      @include mobile($mobile-width) {
        height: 2.2rem;
        width: 2.2rem;
      }
    }

    &_intro {
      bottom: calc(27 / #{$desktopHeight} * 100vh);
      position: absolute;

      @include tablet($tablet-width) {
        position: static;
      }
    }

    &_rules {
      bottom: calc(27 / #{$desktopHeight} * 100vh);
      left: 50%;
      position: absolute;
      transform: translate3d(-50%, 0, 0);

      @include tablet($tablet-width) {
        bottom: calc(40 / #{$desktopTabletHeight} * 100vh);
      }

      @include mobile($mobile-width) {
        align-self: center;
        position: static;
        transform: none;
      }
    }

    &_contest {
      bottom: calc(27 / #{$desktopHeight} * 100vh);
      position: absolute;

      @include tablet($tablet-width) {
        left: 50%;
        transform: translateX(-50%);
      }

      @include mobile($mobile-width) {
        transform: none;
        position: static;
      }
    }

    &_results {
      &:hover {
        &:after {
          transform: rotate(540deg);
        }
      }

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  /* Main section */
  &__main-bg {
    background: linear-gradient(43.83deg, #b4e9ff 4.98%, #e0fbff 89.68%), #def2f9;
    flex-shrink: 0;
    width: 38.88888888888889%;
    height: 100vh;
    position: relative;

    @include tablet($tablet-width) {
      height: calc(378 / #{$desktopTabletHeight} * 100vh);
      width: 100%;
    }

    @include mobile($mobile-width) {
      height: 20.2rem;
    }
  }

  &__item {}

  &__intro {
    align-items: flex-start;
    align-self: stretch;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 9vh;
    padding-left: calc(113 / #{$desktopHeight} * 100vh);
    position: relative;

    @media (max-width: 1366px) {
      padding-left: calc(60 / #{$desktopHeight} * 100vh);
    }

    @include tablet($tablet-width) {
      align-items: center;
      padding-bottom: 18vh;
      padding-left: calc(9vh / #{$desktopWidth} * 100vw);
      text-align: center;


    }

    @include mobile($mobile-width) {
      padding: 8rem 2.5rem;
    }
  }

  &__main-tag {
    margin: 0 0 calc(40 / #{$desktopHeight} * 100vh);

    @media (max-width: $desktop-md-width) {
      font-size: calc(76 / #{$desktopTabletHeight} * 100vh);
      margin-bottom: calc(67 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 3.3rem;
      margin-bottom: 4.7rem;
    }
  }

  &__main-title {
    color: #3c4357;
    font-family: 'ProximaNovaLight';
    font-size: calc(50 / #{$desktopHeight} * 100vh);
    font-weight: 400;
    letter-spacing: normal;
    margin: 0;

    @media (max-width: $desktop-md-width) {
      font-size: calc(50 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 3.3rem;
      margin-bottom: 1.1rem;
    }
  }

  &__main-subtitle {
    color: #3c4357;
    font-family: 'ProximaNovaLight';
    font-size: calc(28 / #{$desktopHeight} * 100vh);
    font-weight: 400;
    line-height: 1.12;
    margin: 0;

    @media (max-width: $desktop-md-width) {
      font-size: calc(28 / #{$desktopTabletHeight} * 100vh);
      margin-bottom: calc(65 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
  }

  /* Rules section */
  &_rules {
    position: relative;
  }

  &__rules {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    font-family: 'ProximaNovaLight';
    justify-content: flex-end;
    padding-bottom: 9vh;
    padding-left: calc(61 / #{$desktopWidth} * 100vw);
    padding-right: calc(71 / #{$desktopWidth} * 100vw);
    position: relative;

    @include tablet($tablet-width) {
      padding-right: 9vh;
      padding-top: 13vh;
      position: static;
    }

    @include mobile($mobile-width) {
      padding: 3.5rem 2.5rem;
    }
  }

  &__rules-content {
    @include tablet($tablet-width) {
      // font-size: calc(14 / #{$desktopTabletHeight} * 100vh);
      display: flex;
      flex-direction: column;
    }
  }

  &__rules-title {
    margin: 0;

    @include tablet($mobile-width) {
      margin-bottom: 2rem;
    }
  }

  &__rules-bg {
    background: linear-gradient(49.45deg, #b4e9ff 4.98%, #e0fbff 89.68%), #d7eff7;
    flex-shrink: 0;
    height: 100%;
    width: 29.44444444444444%;

    @include tablet($tablet-width) {
      bottom: 0;
      height: calc(280 / #{$desktopTabletHeight} * 100vh);
      // margin-bottom: calc(112 / #{$desktopTabletHeight} * 100vh);
      margin-bottom: unset;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    @include mobile($mobile-width) {
      display: none;
    }
  }

  &__rules-description {
    margin: 0 0 calc(20 / #{$desktopWidth} * 100vw);

    @include tablet($tablet-width) {
      max-width: calc(451 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      max-width: none;
    }
  }

  /* Contest section */
  &__contest {
    align-self: stretch;
    background: linear-gradient(47.59deg, #b4e9ff 4.98%, #e0fbff 89.68%), #4672e6;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end;
    padding-bottom: 9vh;
    padding-left: calc(61 / #{$desktopWidth} * 100vw);
    padding-right: calc(44 / #{$desktopWidth} * 100vw);
    width: 70vh;

    @include tablet($tablet-width) {
      padding-bottom: calc(50 / #{$desktopTabletHeight} * 100vh);
      padding-right: 9vh;
      padding-top: 15vh;
      width: auto;
    }

    @include mobile($mobile-width) {
      padding: 5rem 2.5rem;
    }
  }

  &__contest-title {
    font-size: calc(65 / #{$desktopHeight} * 100vh);
    margin: 0 0 calc(40 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      font-size: calc(46 / #{$desktopTabletHeight} * 100vh);
      margin-bottom: calc(20 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 5rem;
    }
  }

  &__contest-intro {
    font-family: 'ProximaNovaBold';
    font-size: calc(19 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      font-size: calc(19 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 1.9rem;
    }
  }

  &__contest-info {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 0;
    min-width: 0;
    padding-bottom: 9vh;
    padding-left: calc(63 / #{$desktopWidth} * 100vw);
    position: relative;

    @include tablet($tablet-width) {
      padding-right: 9vh;
      padding-top: calc(34 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      padding: 2.5rem 2.5rem;
      text-align: center;
    }
  }

  /* Test section */
  &__test {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin: auto auto 0;

    @include tablet($tablet-width) {
      justify-content: flex-start;
      width: 100%;
    }
  }
}

.parallax {
  &__bottles {
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: bottles;
    bottom: -6%;
    left: -100%;
    max-width: none;
    position: absolute;
    z-index: 10;
    max-width: 60%;

    @include tablet($tablet-width) {
      animation-name: bottles-tablet;
      left: 0;
      max-width: calc(279 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      bottom: 0;
      max-width: 12.9rem;
      width: 34%;
    }
  }

  &__schnur {
    animation-delay: 0.3s;
    animation-duration: 0.45s;
    animation-fill-mode: forwards;
    animation-name: schnur;
    bottom: -15%;
    display: block;
    // max-width: 100vh;
    max-width: 120%;
    position: absolute;
    right: 100%;
    z-index: 9;

    @include tablet($tablet-width) {
      bottom: -20vh;
      margin-left: auto;
      margin-right: auto;
      margin-top: -12vh;
      max-width: calc(642 / #{$desktopTabletHeight} * 100vh);
      position: static;
    }

    @include mobile($mobile-width) {
      // max-width: calc(297 / #{$desktopTabletHeight} * 100vh);
      margin-top: -6.8rem;
      max-width: 29.7rem;
      width: 90%;
    }
  }
}

.rules-media {
  float: right;
  height: calc(336 / #{$desktopWidth} * 100vw);
  margin-bottom: calc(50 / #{$desktopHeight} * 100vh);
  margin-left: calc(50 / #{$desktopHeight} * 100vh);
  margin-right: -41%;
  margin-top: -9%;
  position: relative;
  width: calc(607 / #{$desktopWidth} * 100vw);

  @include tablet($tablet-width) {
    float: none;
    height: calc(315 / #{$desktopTabletHeight} * 100vh);
    margin-bottom: unset;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(27 / #{$desktopHeight} * 100vh);
    order: 1;
    width: calc(600 / #{$desktopTabletHeight} * 100vh);
  }

  @include mobile($mobile-width) {
    height: auto;
    margin: 2rem auto 4rem;
    max-width: 60rem;
    width: auto;
  }

  &__video-wrap {
    border-radius: 1rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 8;

    &:hover {
      & + .rules-media__helper {
        left: calc(-20 / #{$desktopHeight} * 100vh);
        top: calc(30 / #{$desktopHeight} * 100vh);
      }
    }
  }

  &__video {
    display: block;
    height: 100%;
    width: 100%;
  }

  &__play-wrap {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;

    &.is-hidden {
      display: none;
    }

    &:hover {
      .youtube-btn__circle {
        background-color: lighten($color-red, 5%);
      }
    }
  }

  &__helper {
    background: $color-blue;
    border-radius: 1rem;
    height: 100%;
    left: calc(-15 / #{$desktopHeight} * 100vh);
    position: absolute;
    top: calc(25 / #{$desktopHeight} * 100vh);
    transition: all $transition-duration;
    width: 100%;
  }
}

.rules-list {
  @include tablet($tablet-width) {
    columns: 2;
  }

  @include mobile($mobile-width) {
    columns: 1;
  }

  p {
    margin: 0;
  }
}

.contest-list {
  &__item {
    min-height: calc(44 / #{$desktopHeight} * 100vh);
    margin-top: calc(20 / #{$desktopHeight} * 100vh);
    padding-left: calc(50 / #{$desktopWidth} * 100vw);

    @include tablet($tablet-width) {
      margin-top: calc(20 / #{$desktopTabletHeight} * 100vh);
      padding-left: calc(75 / #{$desktopTabletHeight} * 100vw);
    }

    @include mobile($mobile-width) {
      min-height: 4rem;
      padding-left: 4.5rem;
    }

    &:first-child {
      margin-top: 0;
    }

    &_instagram {
      background: url('../svg_icons/icon-instagram.svg') no-repeat 0.5rem 0;

      @include mobile($mobile-width) {
        background-size: 3.2rem auto;
      }
    }

    &_idea {
      background: url('../svg_icons/icon-idea.svg') no-repeat 0 0;

      @include mobile($mobile-width) {
        background-size: 4rem auto;
      }
    }

    &_award {
      background: url('../svg_icons/icon-award.svg') no-repeat 0 0;

      @include mobile($mobile-width) {
        background-size: 4rem auto;
      }
    }
  }
}

.members {
  &__data {
    position: relative;
  }

  &__info {
    align-items: center;
    display: flex;
    margin-top: calc(30 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      margin-bottom: calc(8 / #{$desktopTabletHeight} * 100vh);
      margin-top: calc(30 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      justify-content: center;
      margin-bottom: 0.8rem;
      margin-top: 3rem;
    }
  }

  &__title {
    font-family: 'ProximaNovaBold';
    font-size: calc(22 / #{$desktopHeight} * 100vh);
    line-height: 1.0909090909090908;
    margin-bottom: calc(22 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      font-size: calc(22 / #{$desktopTabletHeight} * 100vh);
      margin: 0;
    }

    @include mobile($mobile-width) {
      font-size: 1.8rem;
      margin-bottom: 3rem;
    }
  }
}

.members-slider {
  font-size: calc(13 / #{$desktopHeight} * 100vh);

  @include tablet($tablet-width) {
    margin-bottom: calc(42 / #{$desktopTabletHeight} * 100vh);
  }

  @include mobile($mobile-width) {
    font-size: 1.3rem;
    margin-bottom: 4.2rem;
  }

  .slick-list {
    margin: 0 calc(-18 / #{$desktopHeight} * 100vh);

    @include mobile($mobile-width) {
      margin-left: -1.8rem;
      margin-right: -1.8rem;
    }
  }

  &__slide {
    margin: 0 calc(18 / #{$desktopHeight} * 100vh);
    outline: none;

    @include mobile($mobile-width) {
      margin-left: 1.8rem;
      margin-right: 1.8rem;
    }
  }

  &__img-wrap {
    height: calc(170 / #{$desktopHeight} * 100vh);
    margin-bottom: calc(9 / #{$desktopHeight} * 100vh);
    width: calc(170 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      height: calc(85 / #{$desktopTabletHeight} * 100vh);
      margin-bottom: unset;
      width: calc(85 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      height: 17rem;
      margin-left: auto;
      margin-right: auto;
      width: 17rem;
    }
  }

  &__img {
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__content {
    @include tablet($tablet-width) {
      display: none;
    }
  }

  &__like,
  &__text {
    display: block;
  }

  &__like {
    font-family: 'ProximaNovaSemibold';
  }

  &__text {
    font-family: 'ProximaNovaLight';
    max-height: calc(70 / #{$desktopHeight} * 100vh);
  }

  &__nav {
    margin-left: calc(20 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      margin-left: calc(20 / #{$desktopTabletHeight} * 100vh);
    }
  }

  &__arrow {
    background: $color-light-blue no-repeat 50% / calc(7 / #{$desktopHeight} * 100vh);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: calc(26 / #{$desktopHeight} * 100vh);
    transition: background $transition-duration;
    user-select: none;
    vertical-align: middle;
    width: calc(26 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      height: calc(26 / #{$desktopTabletHeight} * 100vh);
      width: calc(26 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      background-size: 30%;
      height: 4rem;
      margin-top: 3rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4rem;
      z-index: 9;
    }

    &:hover {
      background-color: #a7e4f8;
    }

    &_prev {
      background-image: url('../svg_icons/arrow-left.svg');
      background-position: 47% 50%;

      @include mobile($mobile-width) {
        left: 0;
      }
    }

    &_next {
      background-image: url('../svg_icons/arrow-right.svg');
      background-position: 53% 53%;

      @include mobile($mobile-width) {
        right: 0;
      }
    }
  }
}

.prizes {
  align-items: center;
  display: flex;
  margin-top: calc(137 / #{$desktopHeight} * 100vh);

  @include tablet($tablet-width) {
    align-items: flex-start;
    flex-direction: column;
    margin-top: unset;
  }

  @include mobile($mobile-width) {
    margin-bottom: 2rem;
  }

  &__title {
    font-family: 'ProximaNovaBold';
    font-size: calc(32 / #{$desktopHeight} * 100vh);
    line-height: 1.09375;
    margin: 0;

    @include tablet($tablet-width) {
      font-size: calc(22 / #{$desktopTabletHeight} * 100vh);
      margin-bottom: calc(8 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      align-self: center;
      font-size: 1.8rem;
      margin-bottom: 1.8rem;
    }

    br {
      @include tablet($tablet-width) {
        display: none;
      }
    }
  }
}

.prizes-list {
  display: flex;
  font-size: calc(14 / #{$desktopHeight} * 100vh);
  margin-left: calc(-32 / #{$desktopHeight} * 100vh);
  padding-left: calc(32 / #{$desktopHeight} * 100vh);
  width: 100%;

  @include tablet($tablet-width) {
    font-size: calc(13 / #{$desktopTabletHeight} * 100vh);
    margin-left: calc(-19 / #{$desktopTabletHeight} * 100vh);
    padding-left: unset;
  }

  @include mobile($mobile-width) {
    flex-direction: column;
  }

  &__item {
    align-items: center;
    background: $color-light-blue;
    display: inline-flex;
    flex-basis: 50%;
    min-height: calc(137 / #{$desktopHeight} * 100vh);
    margin-left: calc(32 / #{$desktopHeight} * 100vh);
    padding-bottom: calc(12 / #{$desktopHeight} * 100vh);
    padding-right: calc(20 / #{$desktopHeight} * 100vh);
    padding-top: calc(12 / #{$desktopHeight} * 100vh);
    position: relative;

    @include tablet($tablet-width) {
      min-height: calc(137 / #{$desktopTabletHeight} * 100vh);
      margin-left: calc(19 / #{$desktopTabletHeight} * 100vh);
      padding-bottom: calc(12 / #{$desktopTabletHeight} * 100vh);
      padding-right: calc(20 / #{$desktopTabletHeight} * 100vh);
      padding-top: calc(12 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      flex-direction: column;
      margin-top: 1.6rem;
      padding: 3rem 2.5rem;
      text-align: left;
    }

    &:first-child {
      @include mobile($mobile-width) {
        margin-top: 0;
      }
    }

    &:hover {
      .prizes-list__img {
        animation-duration: 0.7s;
        animation-iteration-count: 1;
        animation-name: hover-buzz-out;
        animation-timing-function: linear;
      }
    }
  }

  &__img {
    position: absolute;
    left: calc(-30 / #{$desktopHeight} * 100vh);
    width: 50%;

    @include tablet($tablet-width) {
      position: static;
    }

    @include mobile($mobile-width) {
      width: auto;
    }
  }

  &__content {
    margin-left: auto;
    width: 50%;

    @include mobile($mobile-width) {
      margin-left: unset;
      width: auto;
    }
  }

  &__title {
    font-family: 'ProximaNovaBold';
    margin: 0;

    @include tablet($tablet-width) {
      font-size: calc(14 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 1.6rem;
    }
  }

  &__text {
    line-height: 1.230769230769231;
    margin: calc(5 / #{$desktopHeight} * 100vh) 0 0;

    @include mobile($mobile-width) {
      font-size: 1.3rem;
    }
  }
}

/* Test */

.test {
  font-family: 'ProximaNovaLight';
  font-size: calc(15 / #{$desktopHeight} * 100vh);
  opacity: 0;
  position: absolute;
  transition: opacity $transition-duration;
  visibility: hidden;
  z-index: -1;

  @include tablet($tablet-width) {
    font-size: calc(15 / #{$desktopTabletHeight} * 100vh);
    padding-left: calc(51 / #{$desktopWidth} * 100vw);
    width: 100%;
  }

  @include mobile($mobile-width) {
    font-size: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  &.is-show {
    opacity: 1;
    position: relative;
    visibility: visible;
    z-index: 2;
  }

  &__head {
    font-size: calc(18 / #{$desktopHeight} * 100vh);
    text-align: center;

    @include tablet($tablet-width) {
      font-size: calc(18 / #{$desktopTabletHeight} * 100vh);
      padding-right: 6vh;
    }

    @include mobile($mobile-width) {
      padding-right: 0;
    }
  }

  &__title {
    font-size: calc(72 / #{$desktopHeight} * 100vh);
    margin: 0 0 calc(10 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      font-size: calc(50 / #{$desktopTabletHeight} * 100vh);
      margin-bottom: calc(10 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 4rem;
    }
  }

  &__intro {
    font-size: calc(18 / #{$desktopHeight} * 100vh);
    line-height: 1.611111111111111;
    margin-bottom: calc(55 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      font-size: calc(18 / #{$desktopTabletHeight} * 100vh);
      margin-bottom: calc(55 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 1.3rem;
    }

    p {
      margin: 0;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 58vh;
    opacity: 1;
    transition: all $transition-duration;

    @include tablet($tablet-width) {
      align-items: flex-start;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }

    &.is-hide {
      opacity: 0;
    }
  }

  &__img-wrap {
    margin-right: 7vh;
    text-align: center;
    width: 45vh;

    @include tablet($tablet-width) {
      margin-top: calc(10 / #{$desktopTabletHeight} * 100vh);
    }

    &_bottles {
      @include tablet($tablet-width) {
        margin-bottom: -15vh;

      }
    }

    @include tablet($tablet-width) {
      margin-right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__step {}

  &__step-head {
    margin-bottom: calc(25 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      margin-bottom: calc(25 / #{$desktopTabletHeight} * 100vh);
    }
  }

  &__question-count {
    color: #cecece;
    font-family: 'ProximaNovaSemibold';
    font-size: calc(13 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      font-size: calc(13 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 1.3rem;
    }
  }

  &__question-title {
    font-family: 'ProximaNovaSemibold';
    font-size: calc(22 / #{$desktopHeight} * 100vh);
    margin: 0 0 calc(15 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      font-size: calc(22 / #{$desktopTabletHeight} * 100vh);
      margin-bottom: calc(15 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 2.2rem;
      margin-bottom: 1.5rem;
    }
  }

  &__nav {
    margin-top: calc(32 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      margin-top: calc(32 / #{$desktopTabletHeight} * 100vh);
    }
  }

  &__btn {
    user-select: none;
  }
}

.progress-list {
  display: flex;
  margin-left: -2px;

  &__item {
    background: #e8e8e8;
    border-radius: 5px;
    margin-left: 2px;
    height: calc(7 / #{$desktopHeight} * 100vh);
    width: calc(63 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      height: calc(7 / #{$desktopTabletHeight} * 100vh);
      width: calc(63 / #{$desktopTabletHeight} * 100vh);
    }

    &.is-active {
      background: $color-blue;
    }
  }
}

.test-results {
  align-items: center;
  display: flex;
  opacity: 0;
  padding-top: 15vh;
  position: absolute;
  transition: opacity $transition-duration;
  visibility: hidden;
  z-index: -1;

  @include tablet($tablet-width) {
    padding-top: 12vh;
  }

  @include mobile($mobile-width) {
    flex-direction: column;
    padding-top: unset;
  }

  &.is-show {
    opacity: 1;
    position: static;
    visibility: visible;
    z-index: 2;
  }

  &__img-wrap {
    flex-shrink: 0;

    @include tablet($tablet-width) {
      width: 28vh;
    }

    @include mobile($mobile-width) {
      width: auto;
    }
  }

  &__img {
    display: block;
    height: 100vh;

    @include tablet($tablet-width) {
      height: 88vh;
      object-fit: cover;
      object-position: 50%;
      width: 100%;
    }

    @include mobile($mobile-width) {
      height: auto;
    }
  }

  &__content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 9vh;
    padding-left: calc(56 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      padding-left: calc(56 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      padding: 3.5rem 2.5rem;
    }
  }

  &__title {
    font-size: calc(62 / #{$desktopHeight} * 100vh);
    letter-spacing: -0.04em;
    line-height: 1.129032258064516;
    margin: 0 0 calc(46 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      font-size: calc(40 / #{$desktopTabletHeight} * 100vh);
      margin: 0 0 calc(46 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 3rem;
    }
  }

  &__text {
    font-size: calc(18 / #{$desktopHeight} * 100vh);
    font-family: 'ProximaNovaLight';
    margin: 0 0 calc(17 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      font-size: calc(18 / #{$desktopTabletHeight} * 100vh);
      margin: 0 0 calc(17 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 1.8rem;
    }
  }

  &__test-nav {
    bottom: calc(27 / #{$desktopHeight} * 100vh);
    display: flex;
    margin-left: calc(-60 / #{$desktopHeight} * 100vh);
    position: absolute;

    @include tablet($tablet-width) {
      bottom: calc(27 / #{$desktopTabletHeight} * 100vh);
      flex-direction: column;
      margin-left: calc(-60 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      margin-top: 2rem;
      position: static;
    }
  }

  &__test-nav-item {
    margin-left: calc(60 / #{$desktopHeight} * 100vh);

    &:first-child {
      @include tablet($tablet-width) {
        margin-top: 0;
      }
    }

    @include tablet($tablet-width) {
      margin-left: calc(60 / #{$desktopTabletHeight} * 100vh);
      margin-top: calc(10 / #{$desktopTabletHeight} * 100vh);
    }
  }

  &__reset-test {
    align-items: center;
    color: #656b7d;
    cursor: pointer;
    display: inline-flex;
    font-family: 'ProximaNovaBold';
    letter-spacing: 0.06em;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;

    &:hover {
      color: lighten(#656b7d, 5%);

      &:after {
        background-color: lighten(#4e4e4e, 5%);
        transform: rotate(-360deg);
      }
    }

    &:after {
      background: #4e4e4e url('../svg_icons/reset.svg') no-repeat 50% / 54%;
      border-radius: 50%;
      content: '';
      display: inline-block;
      flex-shrink: 0;
      height: calc(22 / #{$desktopHeight} * 100vh);
      margin-left: calc(10 / #{$desktopHeight} * 100vh);
      transition: background $transition-duration, transform $transition-duration;;
      width: calc(22 / #{$desktopHeight} * 100vh);

      @include tablet($tablet-width) {
        height: calc(22 / #{$desktopTabletHeight} * 100vh);
        margin-left: calc(10 / #{$desktopTabletHeight} * 100vh);
        width: calc(22 / #{$desktopTabletHeight} * 100vh);
      }

      @include mobile($mobile-width) {
        height: 2.2rem;
        width: 2.2rem;
      }
    }
  }
}

.share-list {
  align-items: center;
  display: flex;
  margin-left: -2.3rem;

  @include tablet($tablet-width) {
    align-items: unset;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__item {
    align-items: center;
    background: $color-white;
    border: 1px solid #dadada;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    font-size: calc(13 / #{$desktopHeight} * 100vh);
    height: calc(44 / #{$desktopHeight} * 100vh);
    padding-right: calc(22 / #{$desktopHeight} * 100vh);
    margin-left: 2.3rem;
    width: calc(33.33333333333333% - 2.3rem);

    @include tablet($tablet-width) {
      align-self: flex-start;
      height: calc(44 / #{$desktopTabletHeight} * 100vh);
      font-size: calc(13 / #{$desktopTabletHeight} * 100vh);
      margin-top: calc(15 / #{$desktopTabletHeight} * 100vh);
      padding-right: calc(22 / #{$desktopTabletHeight} * 100vh);
      width: auto;
    }

    @include mobile($mobile-width) {
      font-size: 1.3rem;
      height: 4.4rem;
    }

    &:first-child {
      @include tablet($tablet-width) {
        margin-top: 0;
      }
    }

    &:hover {
      .share-list__icon-wrap{
        &_vk {
          background: lighten(#4163be, 5%);
        }

        &_facebook {
          background: lighten(#4672e6, 5%);
        }

        &_twitter {
          background: lighten(#6ad2ff, 5%);
        }
      }

      .share-list__icon {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
      }
    }
  }

  &__icon-wrap {
    border-radius: 5px 0 0 5px;
    display: inline-block;
    height: 100%;
    flex-shrink: 0;
    margin-right: calc(14 / #{$desktopHeight} * 100vh);
    position: relative;
    transition: background $transition-duration, transform $transition-duration;
    width: calc(45 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      margin-right: calc(14 / #{$desktopTabletHeight} * 100vh);
      width: calc(45 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      width: 4.5rem;
    }

    &_vk {
      background: #4163be;
    }

    &_facebook {
      background: #4672e6;
    }

    &_twitter {
      background: #6ad2ff;
    }
  }

  &__icon {
    fill: $color-white;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: transform $transition-duration;
    transform: translate3d(-50%, -50%, 0) rotate(0);

    &_vk {
      height: calc(21 / #{$desktopHeight} * 100vh);
      width: calc(21 / #{$desktopHeight} * 100vh);
    }

    &_facebook {
      height: calc(18 / #{$desktopHeight} * 100vh);
      width: calc(18 / #{$desktopHeight} * 100vh);
    }

    &_twitter {
      height: calc(18 / #{$desktopHeight} * 100vh);
      width: calc(18 / #{$desktopHeight} * 100vh);
    }
  }
}

.ya-share2 {
  display: none;
}

.mobile-hidden {
  @include mobile($mobile-width) {
    display: none;
  }
}