.app-footer {
  bottom: calc(27 / #{$desktopHeight} * 100vh);
  position: fixed;
  right: 9vh;
  z-index: 98;

  @include tablet($tablet-width) {
    left: calc(43 / #{$desktopTabletHeight} * 100vh);
    right: auto;
  }

  @include mobile($mobile-width) {
    left: 2.5rem;
  }
}

.socials-list {
  display: flex;
  margin-left: calc(-10 / #{$desktopHeight} * 100vh);

  @include tablet($tablet-width) {
    margin-left: calc(-10 / #{$desktopTabletHeight} * 100vh);
  }

  &__item {
    margin-left: calc(10 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      margin-left: calc(10 / #{$desktopTabletHeight} * 100vh);
    }
  }

  &__link {
    background: $color-light-blue;
    border-radius: 50%;
    display: inline-flex;
    height: calc(33 / #{$desktopHeight} * 100vh);
    width: calc(33 / #{$desktopHeight} * 100vh);
    transition: background $transition-duration;

    @include tablet($tablet-width) {
      height: calc(33 / #{$desktopTabletHeight} * 100vh);
      width: calc(33 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      height: 3.3rem;
      width: 3.3rem;
    }

    &:hover {
      background: $color-blue;

      .socials-list__social {
        fill: $color-white;
        transform: rotate(360deg);
      }
    }
  }

  &__social {
    fill: #80b8cb;
    margin: auto;
    transition: fill $transition-duration, transform $transition-duration;

    &_instagram {
      height: calc(13 / #{$desktopHeight} * 100vh);
      width: calc(13 / #{$desktopHeight} * 100vh);

      @include tablet($tablet-width) {
        height: calc(13 / #{$desktopTabletHeight} * 100vh);
        width: calc(13 / #{$desktopTabletHeight} * 100vh);
      }

      @include mobile($mobile-width) {
        height: 1.3rem;
        width: 1.3rem;
      }
    }

    &_facebook {
      height: calc(13 / #{$desktopHeight} * 100vh);
      width: calc(13 / #{$desktopHeight} * 100vh);

      @include tablet($tablet-width) {
        height: calc(13 / #{$desktopTabletHeight} * 100vh);
        width: calc(13 / #{$desktopTabletHeight} * 100vh);
      }

      @include mobile($mobile-width) {
        height: 1.3rem;
        width: 1.3rem;
      }
    }

    &_vk {
      height: calc(14 / #{$desktopHeight} * 100vh);
      width: calc(14 / #{$desktopHeight} * 100vh);

      @include tablet($tablet-width) {
        height: calc(14 / #{$desktopTabletHeight} * 100vh);
        width: calc(14 / #{$desktopTabletHeight} * 100vh);
      }

      @include mobile($mobile-width) {
        height: 1.4rem;
        width: 1.4rem;
      }
    }
  }
}
