.app-header {
  background: transparent;
  padding-bottom: calc(17 / #{$desktopHeight} * 100vh);
  padding-top: calc(17 / #{$desktopHeight} * 100vh);
  position: fixed;
  transition: background $transition-duration;
  width: 100%;
  z-index: 98;

  @include tablet($tablet-width) {
    background: $color-white;
  }

  @include mobile($mobile-width) {
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
  }

  & > .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__section_nav {
    align-items: center;
    display: flex;
  }

  &__btn {
    background: $color-red;
    border-radius: 90px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
    color: $color-white;
    display: inline-block;
    font-family: 'ProximaNovaBold';
    line-height: 1;
    margin-left: calc(30 / #{$desktopHeight} * 100vh);
    padding: calc(19 / #{$desktopHeight} * 100vh) calc(25 / #{$desktopHeight} * 100vh);
    text-decoration: none;
    text-transform: uppercase;
    transform: perspective(1px) translateZ(0);
    transition: background $transition-duration;
    white-space: nowrap;

    @include mobile($mobile-width) {
      padding: 1.6rem 2.5rem;
    }

    &:hover,
    &:focus,
    &:active {
      background: lighten($color-red, 5%);
      animation-name: hover-buzz-out;
      animation-duration: 0.7s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
    }

    @include tablet($tablet-width) {
      font-size: calc(14 / #{$desktopTabletHeight} * 100vh);
    }

    @include mobile($mobile-width) {
      font-size: 1.1rem;
      margin-left: 1rem;
    }
  }
}

.app-nav {
  font-size: calc(14 / #{$desktopHeight} * 100vh);

  @include tablet($tablet-width) {
    font-size: calc(15 / #{$desktopTabletHeight} * 100vh);
  }

  @include mobile($mobile-width) {
    font-size: 1.1rem;
  }

  &__inner {
    align-items: center;
    display: flex;
    margin-left: calc(-30 / #{$desktopHeight} * 100vh);

    @include tablet($tablet-width) {
      align-items: flex-start;
      flex-direction: column;
    }

    @include mobile($mobile-width) {
      align-items: flex-end;
    }
  }

  &__item {
    margin-left: calc(30 / #{$desktopHeight} * 100vh);

    @include mobile($mobile-width) {
      text-align: right;
    }
  }

  &__link {
    color: #b7b7b7;
    text-decoration: none;

    &:hover {
      color: #737373;
    }
  }
}

.app-logo {
  height: calc(70 / #{$desktopHeight} * 100vh);
  width: calc(122 / #{$desktopHeight} * 100vh);

  @include tablet($tablet-width) {
    height: calc(63 / #{$desktopTabletHeight} * 100vh);
    width: calc(111 / #{$desktopTabletHeight} * 100vh);
  }

  @include mobile($mobile-width) {
    height: 3.5rem;
    width: 6.2rem;
  }
}
