<!-- APP FOOTER -->
<footer class="app-footer js-app-footer">
  <ul class="socials-list">
    <li class="socials-list__item">
      <a href="https://www.instagram.com/svyatoy.istochnik/" class="socials-list__link" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" class="socials-list__social socials-list__social_instagram">
          <use xlink:href="#instagram" />
        </svg>
      </a>
    </li>
    <li class="socials-list__item">
      <a href="https://vk.com/saintspring" class="socials-list__link" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" class="socials-list__social socials-list__social_vk">
          <use xlink:href="#vk" />
        </svg>
      </a>
    </li>
  </ul>
</footer>
<!-- /APP FOOTER -->
