<!-- APP HEADER -->
<header class="app-header js-app-header">
  <div class="container">
    <div class="app-header__section">
      <!-- APP LOGO -->
      <a href="#intro">
        <svg viewBox="0 0 122 70" xmlns="http://www.w3.org/2000/svg" class="app-logo">
          <use xlink:href="#logo" />
        </svg>
      </a>
      <!-- /APP LOGO -->
    </div>

    <div class="app-header__section app-header__section_nav">
      <!-- APP NAV -->
      <nav class="app-nav">
        <ul class="app-nav__inner">
          <li class="app-nav__item">
            <a href="/pravila-akcii_triponolpyat.pdf" class="app-nav__link" target="_blank">Условия конкурса</a>
          </li>
          <li class="app-nav__item">
            <a href="/polzovatelskoe-soglashenie.pdf" class="app-nav__link" target="_blank">Пользовательское соглашение</a>
          </li>
        </ul>
      </nav>
      <!-- /APP NAV -->

      <a href="#contest" class="app-header__btn">Участвовать <span class="mobile-hidden">в&nbsp;конкурсе</span></a>
    </div>
  </div>
</header>
<!-- /APP HEADER -->
