{% extends 'templates/base.twig' %}

{% block title %}#трипонольпять{% endblock %}

{% block page %}
  <div class="app-content js-app-content">
    <!-- APP SECTION -->
    <section class="app-section app-section_intro js-app-section js-parallax-section" data-anchor="intro">
      <div class="app-section__item app-section__main-bg">
        <!-- PARALLAX -->
        <div class="parallax js-parallax">
          <img src="assets/img/bottles.png" alt="" class="parallax__bottles js-parallax-bottles">

          <img src="assets/img/schnur-main.png" alt="" class="parallax__schnur js-parallax-schnur">
        </div>
        <!-- /PARALLAX -->
      </div>

      <div class="app-section__item app-section__intro nav-pad">
        <h1 class="app-section__main-tag">#трипонольпять</h1>

        <h2 class="app-section__main-title">&laquo;Недельный водопой&raquo;</h2>
        <h3 class="app-section__main-subtitle">Каждый день пей &laquo;за&nbsp;здоровье&raquo;&nbsp;&mdash; и&nbsp;на&nbsp;здоровье!</h3>

        <a href="#rules" class="app-section__next-slide app-section__next-slide_intro">Что-что?</a>
      </div>
    </section>
    <!-- /APP SECTION -->

    <!-- APP SECTION -->
    <section class="app-section app-section_rules js-app-section js-parallax-section" data-anchor="rules">
      <div class="app-section__item app-section__rules">
        <div class="app-section__rules-content">
          <div class="rules-media">
            <div class="rules-media__video-wrap">
              <iframe class="rules-media__video js-rules-video" src="https://www.youtube.com/embed/9FJqTYNETbA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="rules-media__helper"></div>
          </div>

          <h2 class="app-section__title app-section__rules-title">А&nbsp;вот что!</h2>

          <p class="app-section__rules-description">Всей страной весело и&nbsp;креативно осваиваем грамотный питьевой режим&nbsp;&mdash; ежедневно выпиваем по&nbsp;1,5 литра чистейшей воды&nbsp;&mdash; и&nbsp;за&nbsp;это получаем опуПИТЕЛЬные бонусы и&nbsp;подарки от&nbsp;самого Сергея Шнурова!</p>

          <!-- RULES LIST -->
          <ul class="rules-list">
            <li>
              <p><b>&mdash;&nbsp;А&nbsp;мне это зачем?</b></p>

              <p>Во-первых, для бодрости духа...</p>
            </li>
            <li>
              <p><b>&mdash;&nbsp;Э-э-э-э, допустим..</b></p>

              <p>Во-вторых, для развития музыкальных и&nbsp;поэтических талантов...</p>
            </li>
            <li>
              <p><b>&mdash;&nbsp;Как это?</b></p>

              <p>В-третьих, для того, чтобы попасть на&nbsp;концерт Шнура.</p>
            </li>
            <li>
              <p><b>&mdash;&nbsp;Вы&nbsp;о&nbsp;чем???</b></p>

              <p>Ну&nbsp;и&nbsp;само собой&nbsp;&mdash; ДЛЯ ЗДОРОВЬЯ, потому что без него никакой бодрости духа, да&nbsp;и&nbsp;таланты с&nbsp;досугом не&nbsp;в&nbsp;радость.</p>
            </li>
            <li>
              <p><b>&mdash;&nbsp;Объясните уже, наконец, что к&nbsp;чему!</b></p>

              <p>&mdash;&nbsp;Да&nbsp;не&nbsp;вопрос: жми PLAY, смотри клип. В&nbsp;нем Сергей Шнуров розлива 2019 года&nbsp;&mdash; стройный, подтянутый приверженец здорового образа жизни&nbsp;&mdash; объяснит всё сам!</p>
            </li>
          </ul>
          <!-- /RULES LIST -->
        </div>

        <a href="#contest" class="app-section__next-slide app-section__next-slide_rules">Принять участие в&nbsp;конкурсе</a>
      </div>

      <div class="app-section__item app-section__rules-bg">
      </div>
    </section>
    <!-- /APP SECTION -->

    <!-- APP SECTION -->
    <section class="app-section js-app-section" data-anchor="contest">
      <div class="app-section__item app-section__contest">
        <h2 class="app-section__title app-section__contest-title">Конкурс</h2>

        <p class="app-section__contest-intro"><b>Итак, что нужно делать?</b></p>

        <ul class="contest-list">
          <li class="contest-list__item contest-list__item_instagram">В&nbsp;период с&nbsp;<b>13&nbsp;февраля</b> по&nbsp;<b>8&nbsp;марта</b> выпей 21&nbsp;бутылку воды 0,5л &laquo;Святой&nbsp;Источник&raquo; в&nbsp;течение одной недели (по&nbsp;3&nbsp;шт.&nbsp;в&nbsp;день) и&nbsp;выложи фотоотчет об&nbsp;этом в&nbsp;своем инстаграме с&nbsp;хэштегами <b>#трипонольпять</b> и <b>#недельныйводопой</b>.</li>
          <li class="contest-list__item contest-list__item_idea">Ждем от&nbsp;тебя максимально креативных и&nbsp;духоподъемных постов&nbsp;&mdash; они и&nbsp;станут залогом твоей победы!</li>
          <li class="contest-list__item contest-list__item_award">По&nbsp;окончании конкурса Сергей оценит фотки/посты и&nbsp;выберет счастливчиков, которые попадут на&nbsp;его концерт, а&nbsp;также ПОБЕДИТЕЛЯ, который получит потрясающий подарок&nbsp;&mdash; гитару с&nbsp;автографом Шнура.</li>
        </ul>
      </div>

      <div class="app-section__item app-section__contest-info nav-pad">
        <!-- MEMBERS -->
        <div class="members">
          <!-- PRIZES -->
          <div class="prizes">
            <h4 class="prizes__title">Наши <br /> призы</h4>

            <!-- PRIZES LIST -->
            <ul class="prizes-list">
              <li class="prizes-list__item">
                <img src="assets/img/guitar.png" alt="Гитара с автографом Шнурова" class="prizes-list__img prizes-list__img_guitar">

                <div class="prizes-list__content">
                  <h5 class="prizes-list__title">Cиняя гитара</h5>

                  <p class="prizes-list__text">Да-да! Главный победитель получит гитару с&nbsp;автографом Сергея</p>
                </div>
              </li>
              <li class="prizes-list__item">
                <img src="assets/img/tickets.png" alt="Билеты на концерт" class="prizes-list__img prizes-list__img_tickets">

                <div class="prizes-list__content">
                  <h5 class="prizes-list__title">Бесплатные билеты на&nbsp;концерт Шнура</h5>

                  <p class="prizes-list__text">2&nbsp;билета получит один из&nbsp;финалистов</p>
                </div>
              </li>
            </ul>
            <!-- /PRIZES LIST -->
          </div>
          <!-- /PRIZES -->


          <div class="members__data js-members-data">
            <div class="members__info">
              <h4 class="members__title">C&nbsp;нами уже <!-- FUCKTHISSHIT1 -->768&nbsp;участников!<!-- /FUCKTHISSHIT1 --></h4>
  
              <div class="members-slider__nav js-slider-nav">
                <span class="members-slider__arrow members-slider__arrow_prev js-members-slider-arrow-prev"></span>
                <span class="members-slider__arrow members-slider__arrow_next js-members-slider-arrow-next"></span>
              </div>
            </div>


            <!-- MEMBERS SLIDER -->
            <!-- FUCKTHISSHIT2 -->
            <div class="members-slider js-members-slider">
              <div class="members-slider__slide">
                <div class="members-slider__img-wrap">
                  <img src="https://via.placeholder.com/170" alt="Изображение" class="members-slider__img">
                </div>
                <div class="members-slider__content">
                  <span class="members-slider__like">Нравится: 311</span>
                  <span class="members-slider__text js-dotdotdot">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quis beatae aliquid? Ex possimus eius distinctio, unde autem, esse suscipit nam iure quaerat, consectetur necessitatibus sit, vitae exercitationem explicabo quam. Pariatur maiores maxime vitae ea, magnam consequuntur repudiandae dolor, minima autem mollitia soluta aut reiciendis expedita earum delectus quos ratione vero ipsum et sit libero, animi nam possimus! Quia placeat, sapiente ex excepturi adipisci quis voluptatibus nam in aliquam inventore?</span>
                </div>
              </div>
              <div class="members-slider__slide">
                <div class="members-slider__img-wrap">
                  <img src="https://via.placeholder.com/170" alt="Изображение" class="members-slider__img">
                </div>
                <div class="members-slider__content">
                  <span class="members-slider__like">Нравится: 311</span>
                  <span class="members-slider__text js-dotdotdot">С&nbsp;добрым утром!</span>
                </div>
              </div>
              <div class="members-slider__slide">
                <div class="members-slider__img-wrap">
                  <img src="https://via.placeholder.com/170" alt="Изображение" class="members-slider__img">
                </div>
                <div class="members-slider__content">
                  <span class="members-slider__like">Нравится: 311</span>
                  <span class="members-slider__text js-dotdotdot">С&nbsp;добрым утром!</span>
                </div>
              </div>
              <div class="members-slider__slide">
                <div class="members-slider__img-wrap">
                  <img src="https://via.placeholder.com/170" alt="Изображение" class="members-slider__img">
                </div>
                <div class="members-slider__content">
                  <span class="members-slider__like">Нравится: 311</span>
                  <span class="members-slider__text js-dotdotdot">С&nbsp;добрым утром!</span>
                </div>
              </div>
              <div class="members-slider__slide">
                <div class="members-slider__img-wrap">
                  <img src="https://via.placeholder.com/170" alt="Изображение" class="members-slider__img">
                </div>
                <div class="members-slider__content">
                  <span class="members-slider__like">Нравится: 311</span>
                  <span class="members-slider__text js-dotdotdot">С&nbsp;добрым утром!</span>
                </div>
              </div>
              <div class="members-slider__slide">
                <div class="members-slider__img-wrap">
                  <img src="https://via.placeholder.com/170" alt="Изображение" class="members-slider__img">
                </div>
                <div class="members-slider__content">
                  <span class="members-slider__like">Нравится: 311</span>
                  <span class="members-slider__text js-dotdotdot">С&nbsp;добрым утром!</span>
                </div>
              </div>
              <div class="members-slider__slide">
                <div class="members-slider__img-wrap">
                  <img src="https://via.placeholder.com/170" alt="Изображение" class="members-slider__img">
                </div>
                <div class="members-slider__content">
                  <span class="members-slider__like">Нравится: 311</span>
                  <span class="members-slider__text js-dotdotdot">С&nbsp;добрым утром!</span>
                </div>
              </div>
              <div class="members-slider__slide">
                <div class="members-slider__img-wrap">
                  <img src="https://via.placeholder.com/170" alt="Изображение" class="members-slider__img">
                </div>
                <div class="members-slider__content">
                  <span class="members-slider__like">Нравится: 311</span>
                  <span class="members-slider__text js-dotdotdot">С&nbsp;добрым утром!</span>
                </div>
              </div>
            </div>
            <!-- /FUCKTHISSHIT2 -->
            <!-- /MEMBERS SLIDER -->
          </div>


          <a href="#test" class="app-section__next-slide app-section__next-slide_contest">Узнай, какой ты шнур?</a>
        </div>
        <!-- /MEMBERS -->
      </div>
    </section>
    <!-- /APP SECTION -->

    <!-- APP SECTION -->
    <section class="app-section js-app-section" data-anchor="test">
      <div class="app-section__item app-section__test">
        <!-- TEST -->
        <div class="test js-test is-show">
          <header class="test__head">
            <h2 class="test__title">Тест &laquo;Какой ты&nbsp;Шнур?&raquo;</h2>

            <div class="test__intro">
              <p>А&nbsp;теперь пройди тест, из&nbsp;которого станет ясно какого года &laquo;розлива&raquo; ты&nbsp;Шнур.</p>
              <p>Надеемся, что самого что ни&nbsp;на&nbsp;есть кристально свежего!</p>
            </div>
          </header>

          <div class="test__content nav-pad js-test-content">
          </div>
        </div>
        <!-- /TEST -->

        <!-- TEST RESULTS -->
        <div class="test-results js-test-results">
        </div>
        <!-- /TEST RESULTS -->
      </div>
    </section>
    <!-- /APP SECTION -->
  </div>
{% endblock %}
